<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/static/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/static/index.css">
	<title>RiotPeek</title>
</head>
<body>
	<div class="container-fluid">
		<div class="col-xs-12">
			<h1>RiotPeek</h1>
			<div>
				<input id="summoner-name" class="input-field" type="text" value="tahx" placeholder="Summoner Name">
				<img id="search-btn" src="/static/img/search.png" class="btn">
			</div>
			<p id="game-status" class="hidden"></p>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-6">
				<table class="hidden table table-hover">
					<thead>
						<th>Summoner</th>
						<th>Champion</th>
					</thead>
					<tbody id="teamOne"></tbody>
				</table>
			</div>
			<div class="col-xs-12 col-sm-6">
				<table class="hidden table table-hover">
					<thead>
						<th>Summoner</th>
						<th>Champion</th>
					</thead>
					<tbody id="teamTwo"></tbody>
				</table>
			</div>
		</div>
		<p id="footer">RiotPeek is not endorsed by Riot Games and does not reflect the views or opinions of Riot Games or anyone officially involved in producing or managing League of Legends. League of Legends and Riot Games are trademarks or registered trademarks of Riot Games, Inc. League of Legends © Riot Games, Inc.
		</p>
	</div>

<script src="/static/jquery-2.1.4.min.js"></script>
<script src="/static/bootstrap.min.js"></script>
<script src="/static/moment-2.10.3/moment.js"></script>
<script src="/static/index.js"></script>

</body>
</html>