<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<style type="text/css">

	body {
		text-align: center;
	}

	table, th, td {
		text-align: center;
		margin: 0 auto;
	}

	table {
		width: 60%;
	}

	.hidden {
		display: none;
	}

	</style>

	<title>RiotPeek</title>
</head>
<body>
	<h1>RiotPeek</h1>
	<form>
		<label class="form-group">
			<input id="summoner-name" class="form-control" type="text" value="wushao" placeholder="summoner">
		</label>
		<label class="form-group">
			<input id="summoner-submit" class="btn btn-default" type="submit">
		</label>
	</form>
	<div id="response-div">
		<p id="game-status"></p>
		<table class="hidden table table-hover">
			<thead>
				<th>Summoner</th>
				<th>Champion</th>
			</thead>
			<tbody id="teamOne"></tbody>
		</table>
		<table class="hidden table table-hover">
			<thead>
				<th>Summoner</th>
				<th>Champion</th>
			</thead>
			<tbody id="teamTwo"></tbody>
		</table>
	</div>
	<p>RiotPeek isn’t endorsed by Riot Games and doesn’t reflect the views or opinions of Riot Games or anyone officially involved in producing or managing League of Legends. League of Legends and Riot Games are trademarks or registered trademarks of Riot Games, Inc. League of Legends © Riot Games, Inc.
	</p>


<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
<script>

$('#summoner-submit').click(findGame);

function findGame(evt) {
	evt.preventDefault();

	var summoner = $('#summoner-name').val();
	var formInput = {
		summoner: summoner
	};
	
	$('table').addClass('hidden');
	$('#game-status').text('');
	$('#teamOne').text('');
	$('#teamTwo').text('');

	$.get('/find_game', formInput, function(response) {
		var game = JSON.parse(response).game;
		var summonerId = JSON.parse(response).summonerId;

		if (summonerId) {
			if (game) {

			var gameStartEpochMillesecs = game.gameStartTime;
			var gameStartEpochSecs = gameStartEpochMillesecs/1000;
			var gameStart = moment.unix(gameStartEpochSecs);
			var gameDuration = moment(gameStart).fromNow(true);
			var gameStatus = summoner + ' has been in game for ' + gameDuration + '.'
			var teamOneId = game.participants[0].teamId

			// Load champs & update the dom
			$.get('/get_champs', function(response) {
				
				var champions = JSON.parse(response);
				
				for (var i=0; i < game.participants.length; i++) {
					var participant = game.participants[i]
					var participantInfo = $('<li>').text(participant.summonerName)

					participantInfo = '<tr>\
											<td>' + participant.summonerName + '</td>\
											<td>' + champions[participant.championId] + '</td>\
										</tr>';

					// Add the participant to the correct team
					if (participant.teamId === teamOneId) {
						$('#teamOne').append(participantInfo);
					} else {
						$('#teamTwo').append(participantInfo);
					};	
				};
			});
			$('table').removeClass('hidden');

			} else {
				var gameStatus = summoner + ' is not currently in game.'
			};
		} else {
			var gameStatus = 'No summoner by the name ' + summoner + ' could be found.'
		};
		
		$('#game-status').text(gameStatus);
	})
}


</script>
</body>
</html>